# AWS Glue Studio Notebook
##### You are now running a AWS Glue Studio notebook; To start using your notebook you need to start an AWS Glue Interactive Session.

#### Optional: Run this cell to see available notebook commands ("magics").

In [ ]:
%help

####  Run this cell to set up and start your interactive session.

In [ ]:
%timeout 15
%idle_timeout 15
%glue_version 4.0
%worker_type G.1X
%number_of_workers 5

import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

#### (Run local test with pySpark) ####

In [1]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder \
    .appName("CSV to Parquet") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/10 00:47:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

**aisles**

In [2]:
# File path to the input CSV file
csv_file_path = "/Users/tgou1055/jr_data/jr_project/imba_data/aisles/"

# Read the CSV file with schema inference
aisles_df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv(csv_file_path)

# "overwrite" ensures that any existing data at the specified output Parquet file path 
# is overwritten with the new data from the DataFrame

parquet_file_path = "/Users/tgou1055/jr_data/jr_project/imba_data/aisles/aisles.parquet"
aisles_df.write.mode("overwrite").parquet(parquet_file_path)

# load parquet file
aisles_df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .parquet(parquet_file_path)

aisles_df.printSchema()

root
 |-- aisle_id: integer (nullable = true)
 |-- aisle: string (nullable = true)

**departments**

In [3]:
# File path to the input CSV file
csv_file_path = "/Users/tgou1055/jr_data/jr_project/imba_data/departments/"

# Read the CSV file with schema inference
departments_df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv(csv_file_path)

# "overwrite" ensures that any existing data at the specified output Parquet file path 
# is overwritten with the new data from the DataFrame

parquet_file_path = "/Users/tgou1055/jr_data/jr_project/imba_data/departments/departments.parquet"
departments_df.write.mode("overwrite").parquet(parquet_file_path)

# load parquet file
departments_df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .parquet(parquet_file_path)

departments_df.printSchema()

root
 |-- department_id: integer (nullable = true)
 |-- department: string (nullable = true)

**orders**

In [4]:
# File path to the input CSV file
csv_file_path = "/Users/tgou1055/jr_data/jr_project/imba_data/orders/"

# Read the CSV file with schema inference
orders_df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv(csv_file_path)

# "overwrite" ensures that any existing data at the specified output Parquet file path 
# is overwritten with the new data from the DataFrame

parquet_file_path = "/Users/tgou1055/jr_data/jr_project/imba_data/orders/orders.parquet"
orders_df.write.mode("overwrite").parquet(parquet_file_path)

# load parquet file
orders_df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .parquet(parquet_file_path)

orders_df.printSchema()

24/06/10 00:48:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

root
 |-- order_id: integer (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- eval_set: string (nullable = true)
 |-- order_number: integer (nullable = true)
 |-- order_dow: integer (nullable = true)
 |-- order_hour_of_day: integer (nullable = true)
 |-- days_since_prior_order: double (nullable = true)

**products**

In [5]:
# File path to the input CSV file
csv_file_path = "/Users/tgou1055/jr_data/jr_project/imba_data/products/"

# Read the CSV file with schema inference
products_df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv(csv_file_path)

# "overwrite" ensures that any existing data at the specified output Parquet file path 
# is overwritten with the new data from the DataFrame

parquet_file_path = "/Users/tgou1055/jr_data/jr_project/imba_data/products/products.parquet"
products_df.write.mode("overwrite").parquet(parquet_file_path)

# load parquet file
products_df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .parquet(parquet_file_path)

products_df.printSchema()

root
 |-- product_id: integer (nullable = true)
 |-- product_name: string (nullable = true)
 |-- aisle_id: integer (nullable = true)
 |-- department_id: integer (nullable = true)

**order_products**

In [6]:
# File path to the input CSV file
csv_file_path = "/Users/tgou1055/jr_data/jr_project/imba_data/order_products/"

# Read the CSV file with schema inference
order_products_df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv(csv_file_path)

# "overwrite" ensures that any existing data at the specified output Parquet file path 
# is overwritten with the new data from the DataFrame

parquet_file_path = "/Users/tgou1055/jr_data/jr_project/imba_data/order_products/order_products.parquet"
order_products_df.write.mode("overwrite").parquet(parquet_file_path)

# load parquet file
order_products_df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .parquet(parquet_file_path)

order_products_df.printSchema()

24/06/10 00:49:10 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

root
 |-- order_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- add_to_cart_order: integer (nullable = true)
 |-- reordered: integer (nullable = true)

## Perform Spark transformations of assignment 1

In [ ]:
spark.stop()

In [55]:
from pyspark.sql.types import IntegerType, DoubleType
from pyspark.sql.functions import avg, sum, min, max, round, count, when, col, countDistinct, desc, asc
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

In [8]:
"""
Q1. Create a table called order_products_prior by using the last SQL query you created from the
previous assignment. It should be similar to below (note you need to replace the s3 bucket
name “imba” to yours own bucket name):

    CREATE TABLE order_products_prior AS
        (SELECT a.
        *
        ,
        b.product_id,
        b.add_to_cart_order,
        b.reordered
        FROM orders a
        JOIN order_products b
        ON a.order_id = b.order_id
        WHERE a.eval_set = 'prior')
"""

order_products_prior_df = orders_df.filter(
                          orders_df.eval_set == 'prior').join(order_products_df, \
                          orders_df.order_id == order_products_df.order_id, 'inner').select(
                          orders_df["*"], order_products_df.product_id, order_products_df.add_to_cart_order, order_products_df.reordered)

parquet_file_path = "/Users/tgou1055/jr_data/jr_project/imba_data/order_products_prior/order_products_prior.parquet"
order_products_prior_df.write.mode("overwrite").parquet(parquet_file_path)

# load parquet file
order_products_prior_df = spark.read.parquet(parquet_file_path)
print("transformation job finished")

24/06/10 00:49:49 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/06/10 00:50:03 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

transformation job finished

In [27]:
order_products_prior_df.printSchema()
order_products_prior_df.limit(10).show()

root
 |-- order_id: integer (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- eval_set: string (nullable = true)
 |-- order_number: integer (nullable = true)
 |-- order_dow: integer (nullable = true)
 |-- order_hour_of_day: integer (nullable = true)
 |-- days_since_prior_order: double (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- add_to_cart_order: integer (nullable = true)
 |-- reordered: integer (nullable = true)

+--------+-------+--------+------------+---------+-----------------+----------------------+----------+-----------------+---------+
|order_id|user_id|eval_set|order_number|order_dow|order_hour_of_day|days_since_prior_order|product_id|add_to_cart_order|reordered|
+--------+-------+--------+------------+---------+-----------------+----------------------+----------+-----------------+---------+
|      12| 152610|   prior|          22|        6|                8|                  10.0|     30597|                1|        1|
|      12| 152610|   prior|          22|        6|                8|                  10.0|     15221|                2|        1|
|      12| 152610|   prior|          22|        6|                8|                  10.0|     43772|                3|        1|
|      12| 152610|   prior|          22|        6|                8|                  10.0|     37886|                4|        1|
|      12| 152610|   prior|          22|        6|                8|                  10.0|     37215|                5|        0|
|      12| 152610|   prior|          22|        6|                8|                  10.0|     34335|                6|        1|
|      12| 152610|   prior|          22|        6|                8|                  10.0|      3164|                7|        0|
|      12| 152610|   prior|          22|        6|                8|                  10.0|     26910|                8|        0|
|      12| 152610|   prior|          22|        6|                8|                  10.0|     38888|                9|        0|
|      12| 152610|   prior|          22|        6|                8|                  10.0|     38050|               10|        1|
+--------+-------+--------+------------+---------+-----------------+----------------------+----------+-----------------+---------+

In [33]:
"""
Q2.Create a SQL query (user_features_1). Based on table orders, for each user, calculate the
max order_number, the sum of days_since_prior_order and the average of
days_since_prior_order.

SELECT user_id,
       MAX(order_number) as max_order_number, 
       CAST(SUM(days_since_prior_order) AS INT) as sum_days_prior,
       ROUND(AVG(days_since_prior_order),2) as avg_days_prior
FROM orders 
GROUP BY user_id 
ORDER BY user_id;

"""

user_features_1_df = orders_df.withColumn("days_since_prior_order", orders_df["days_since_prior_order"].cast(IntegerType()) ). \
    groupBy("user_id").agg(
    max("order_number").alias("max_order_number"),
    sum("days_since_prior_order").alias("sum_days_prior"),
    round(avg("days_since_prior_order"),).alias("avg_days_prior") )

parquet_file_path = "/Users/tgou1055/jr_data/jr_project/imba_data/user_features_1/user_features_1.parquet"
user_features_1_df.write.mode("overwrite").parquet(parquet_file_path)

user_features_1_df = spark.read.parquet(parquet_file_path)

print("transformation job finished")

transformation job finished

In [34]:
user_features_1_df = user_features_1_df.orderBy(user_features_1_df.user_id.asc())
user_features_1_df.limit(10).show()

+-------+----------------+--------------+--------------+
|user_id|max_order_number|sum_days_prior|avg_days_prior|
+-------+----------------+--------------+--------------+
|      1|              11|           190|          19.0|
|      2|              15|           228|          16.0|
|      3|              13|           144|          12.0|
|      4|               6|            85|          17.0|
|      5|               5|            46|          12.0|
|      6|               4|            40|          13.0|
|      7|              21|           209|          10.0|
|      8|               4|            70|          23.0|
|      9|               4|            66|          22.0|
|     10|               6|           109|          22.0|
+-------+----------------+--------------+--------------+

In [ ]:
"""
Q3.Create a SQL query (user_features_2). Similar to above, based on table
order_products_prior, for each user calculate the total number of products, total number of
distinct products, and user reorder ratio(number of reordered = 1 divided by number of
order_number > 1)


WITH user_ratio AS (SELECT user_id, 
			   COUNT(*) as product_bought, 
               COUNT(DISTINCT(product_id)) as unique_product_bought, 
			   COUNT(CASE WHEN reordered = 1 THEN 1 ELSE NULL END) as num_reordered, 
               COUNT(CASE WHEN order_number > 1 THEN 1 ELSE NULL END) as num_order_number
		    FROM order_products_prior
		    GROUP BY user_id
		    ORDER BY user_id) SELECT user_id, 
 					     product_bought, 
					     unique_product_bought, 
					     num_reordered, num_order_number, 
					     ROUND(CAST(num_reordered AS DOUBLE) / num_order_number ,4) AS reorder_ratio 
				      FROM user_ratio

"""

user_features_2_df = order_products_prior_df.groupBy("user_id").agg(
    count("*").alias("num_product_bought"),
    countDistinct("product_id").alias("num_distinct_product_bought"),
    round(count(when(col("reordered") == 1, True)) / count(when(col("order_number") > 1, True)),4).alias("reordered_ratio")
)

parquet_file_path = "/Users/tgou1055/jr_data/jr_project/imba_data/user_features_2/user_features_2.parquet"
user_features_2_df.write.mode("overwrite").parquet(parquet_file_path)
user_features_2_df = spark.read.parquet(parquet_file_path)
print("transformation job finished")

In [22]:
user_features_2_df.orderBy(user_features_2_df.user_id.asc()).limit(10).show()

+-------+------------------+---------------------------+---------------+
|user_id|num_product_bought|num_distinct_product_bought|reordered_ratio|
+-------+------------------+---------------------------+---------------+
|      1|                59|                         18|         0.7593|
|      2|               195|                        102|          0.511|
|      3|                88|                         33|         0.7051|
|      4|                18|                         17|         0.0714|
|      5|                37|                         23|         0.5385|
|      6|                14|                         12|            0.2|
|      7|               206|                         68|         0.7113|
|      8|                49|                         36|         0.4643|
|      9|                76|                         58|         0.3913|
|     10|               143|                         94|         0.3551|
+-------+------------------+---------------------------+---------------+

In [ ]:
"""
Q4:
    Create a SQL query (up_features). Based on table order_products_prior, for each user and
    product, calculate the total number of orders, minimum order_number, maximum
    order_number and average add_to_cart_order.

    SELECT user_id, 
       product_id, 
       COUNT(*) as num_of_orders, 
       MIN(order_number) as min_order_num, 
       MAX(order_number) as max_order_num, 
       ROUND(AVG(add_to_cart_order),2) as seq_add_to_order
    FROM order_products_prior
    GROUP BY user_id, product_id
    ORDER BY user_id, product_id;
"""

up_features_df = order_products_prior_df.groupBy("user_id","product_id").agg(
    count("*").alias("number_of_orders"),
    min("order_number").alias("min_order_num"),
    max("order_number").alias("max_order_num"),
    round(avg("add_to_cart_order"),2).alias("seq_add_to_order")
)

parquet_file_path = "/Users/tgou1055/jr_data/jr_project/imba_data/up_features/up_features.parquet"
up_features_df.write.mode("overwrite").parquet(parquet_file_path)
up_features_df = spark.read.parquet(parquet_file_path)
print("transformation job finished")

In [41]:
up_features_df.limit(10).show()

+-------+----------+----------------+-------------+-------------+----------------+
|user_id|product_id|number_of_orders|min_order_num|max_order_num|seq_add_to_order|
+-------+----------+----------------+-------------+-------------+----------------+
|      1|       196|              10|            1|           10|             1.4|
|      1|     10258|               9|            2|           10|            3.33|
|      1|     17122|               1|            5|            5|             6.0|
|      2|      2002|               4|            8|           11|           10.25|
|      2|      4957|               1|            6|            6|            17.0|
|      2|      7781|               3|            3|           14|             7.0|
|      2|      9124|               1|            9|            9|            23.0|
|      2|     12000|               5|            1|           10|             2.6|
|      2|     13351|               2|            9|           12|            10.0|
|      2|     14306|               1|            8|            8|            16.0|
+-------+----------+----------------+-------------+-------------+----------------+

In [ ]:
"""
Q5. Create a SQL query (prd_features). Based on table order_products_prior, first write a sql
query to calculate the sequence of product purchase for each user, and name it
product_seq_time. Then on top of this query, for each product, calculate the count, sum of reordered, count of
product_seq_time = 1 and count of product_seq_time = 2.

WITH product_seq AS (SELECT user_id, 
			    order_number, 
			    product_id,
			    ROW_NUMBER() OVER (PARTITION BY user_id, product_id ORDER BY order_number ASC) AS product_seq_time,
			    reordered
		     FROM order_products_prior
		     ORDER BY user_id, order_number, product_seq_time) SELECT product_id, 
									      COUNT(*) AS num_product_ordered, 
									      SUM(reordered) as sum_reordered, 
									      COUNT(CASE WHEN product_seq_time = 1 THEN 1 ELSE NULL END) as seq_is_one, 
									      COUNT(CASE WHEN product_seq_time = 2 THEN 1 ELSE NULL END) as seq_is_two
									      FROM product_seq
									      GROUP BY product_id
									      ORDER BY product_id;
"""

# Define a Window specification to partition and order the data
windowSpec = Window.partitionBy("user_id", "product_id").orderBy("order_number")
prd_features_df = order_products_prior_df.withColumn("product_seq_time", row_number().over(windowSpec))

prd_features_df = prd_features_df.groupBy("product_id").agg (
                count("*").alias("num_product_ordered"),
                sum("reordered").alias("sum_reordered"),
                count(when(col("product_seq_time") == 1, True)).alias("seq_is_one"),
                count(when(col("product_seq_time") == 2, True)).alias("seq_is_two")
)

parquet_file_path = "/Users/tgou1055/jr_data/jr_project/imba_data/prd_features/prd_features.parquet"
prd_features_df.write.mode("overwrite").parquet(parquet_file_path)
prd_features_df = spark.read.parquet(parquet_file_path)
print("transformation job finished")

In [56]:
prd_features.sort(asc("product_id")).limit(10).show()

+----------+-------------------+-------------+----------+----------+
|product_id|num_product_ordered|sum_reordered|seq_is_one|seq_is_two|
+----------+-------------------+-------------+----------+----------+
|         1|               1852|         1136|       716|       276|
|         2|                 90|           12|        78|         8|
|         3|                277|          203|        74|        36|
|         4|                329|          147|       182|        64|
|         5|                 15|            9|         6|         4|
|         6|                  8|            3|         5|         2|
|         7|                 30|           12|        18|         6|
|         8|                165|           83|        82|        30|
|         9|                156|           82|        74|        31|
|        10|               2572|         1304|      1268|       399|
+----------+-------------------+-------------+----------+----------+